.container{
    height: 250px;
    width: 100%;
    background-color: cadetblue;
    border: 2px solid brown;
    color: red;
    

}
.box{
    height: 200px;
    width: 100%;
    background-color:pink;
    border: 2px solid black;

    /* animation */
    animation-name: Nivas;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-direction: normal;
}
/* @keyframes Nivas {
    
    from{
        width: 200px;
        background-color: orange;

    }
    to{
        width: 100%;
        background-color: green;
    }
} */

@keyframes Nivas {
    
    0%{
        width: 200px;
        background-color: orange;
    }
    50%
    {
        width: 400px;
        background-color: white;
    }
    100% {
        width: 100%;
        background-color: green;
       
    }
}